.red-circle-off {
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    border-style: none;
}

.red-circle-on {
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    border-style: none;
    border-width: 10px;
    box-shadow: 0 0 8px #e7ea4c, inset 0 0 8px #e7ea4c;
}

.orange-circle-off {
    height: 80px;
    width: 80px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    border-style: none;
}

.orange-circle-on {
    height: 80px;
    width: 80px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    border-style: none;
    border-width: 10px;
    box-shadow: 0 0 8px #e7ea4c, inset 0 0 8px #e7ea4c;
}

.green-circle-off {
    height: 80px;
    width: 80px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    border-style: none;
}

.green-circle-on {
    height: 80px;
    width: 80px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    border-style: none;
    border-width: 10px;
    box-shadow: 0 0 8px #e7ea4c, inset 0 0 8px #e7ea4c;
}